.aside-container {
  border-bottom: 1px solid #DADCE0;
  border-right: 1px solid #DADCE0;
  grid-area: aside;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 14%);
  height: 100vh;
  
}

