* {
  font-family:'Times New Roman', Times, serif;
}

.App {
  
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "navBar navBar"
  "aside addNote"
  "aside noteList"
}









